<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
		<title>GrandPy</title>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
	</head>

	<body>

		<header>
			<h1>CREER GRANDPY LE ROBOT</h1>
		</header>

		<div id="loading">
			<img src="{{ url_for('static', filename='img/loading.gif') }}">
		</div>
		
		<section>
			<form id="myform" action="/question" method="post">
				<input type="text" id="user_input" name="user_input" placeholder="Votre question" />
				<input id="submit" type="submit" value="Envoyer">
			</form>
		</section>

		<div id="map"></div>

	</body>
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script> -->
	<!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GmApiKey }}"></script> -->

</html>
