.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#map {
	height: 30%;
	width: 30%;
}

#user_input {
	width: 20%;
}

#loading {
	display: none;
}

#chatbox ul {
	list-style:none;
}

body {
	background-image: url("../img/background.png");
	background-size: cover;
	background-repeat: no-repeat;
}
